pyttsx3
SpeechRecognition
PyAudio
beautifulsoup4
plyer
pygame
speedtest-cli
requests
pyautogui
numpy
pynput
pywhatkit
wikipedia
wolframalpha
googletrans==3.1.0a0
gTTS
playsound
matplotlib
Pillow
python-dotenv
